extends base

block content
  p Hola #{firstName},
  p Verifique su cuenta para poder iniciar sesión
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Verifique su cuenta
  p Buena Suerte!.